/screenshots/
/Reports/
/target/

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.jdt.core.prefs

.project

.classpath
/test-output/

log/verify_BlueCoat_DashBoard_Widget_Validate.log
